.ant-tabs-tab {
  height: 28px;
  width: 209px;
  color: #556789;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin: 0 0 6px auto !important;
}

.ant-tabs-tab:hover,
.ant-tabs-tab:active,
.ant-tabs-tab:focus {
  color: #83A515 !important;
}

.ant-tabs-tab-active.ant-tabs-tab {
  color: #83A515 !important;
  font-weight: 400;
  margin: 0 0 6px auto !important;
}

.ant-tabs-ink-bar.ant-tabs-ink-bar-no-animated {
  height: 4px;
  width: 209px !important;
  background-color: #83A515;
}

.ant-tabs-bar {
  border-bottom: 1px solid #F1F1F4;
}

.ant-modal-content {
  border-radius: 0;
}

.ant-table-column-title {
  height: 24px;
  width: 40px;
  color: #556789;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: Uppercase;
}

body {
  font-family: 'Roboto';
}

table {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
  width: calc(100% - 10px) !important;
  margin: 20px auto;
}

th {
  background-color: #F1F1F4 !important;
  border-radius: 0 !important;
}
