@import '../../assets/styles/styles';

.heading {
  color: $heading-blue;
  font-family: $Roboto;
  font-size: 48px;
  font-weight: bold;
  margin-top: 20px;

  @include breakpoint(mobile) {
    font-size: 28px;
    margin-top: 0;
  }
}
