@import '../../assets/styles/styles';

.imageUrl {
  color: $light-grey;
  font-size: 14px;
  margin-left: 7px;

  @include breakpoint(mobile-tablet) {
    display: none;
  }
}

.actionWrapper {
  cursor: pointer;
  margin-right: 40px;

  @include breakpoint(mobile) {
    margin-left: -12px;
    text-align: center;
  }
}

.actionIcon {
  @include breakpoint(mobile) {
    width: 14px;
    height: 14px;
  }
}
