// -------------------------
$body-bg: #ffffff;
$header-bg: #1e263f;
$desc: #6DB346;
$heading-blue: #2B416C;
$title: #556789;
$desc-gray: #9CA2B7;
$light-grey: #7788A3;
$button-black: #181B34;

// --- Fonts ---
$Roboto: 'Roboto',
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";

$SFNS : sans-serif;
